{% extends 'AppInicio/base.html' %}

{% block titulo %} CAMIONETAS EN VENTA {% endblock %}

{% block contenido %}
<nav class="navbar navbar-light bg-light static-top">
    <div style="background-color: rgb(244, 218, 218)" class="container">
        <a class="navbar-brand" href="{% url 'camionetas' %}">Crear Anuncio</a>
        <a class="navbar-brand" href= "{% url 'camionetas-listado' %}">Ver todos los Anuncios</a> 
        <a class="navbar-brand" href="{% url 'camionetas-buscar' %}">Buscar</a>
        
    </div>
</nav>

{% if form %}
<h1>CREACION DE ANUNCIO DE VENTA</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}
    <input type="submit" value="Guardar">
    </form>

{% endif %}



{% if object_list %}

<h1>LISTADO DE CAMIONETAS DISPONIBLES</h1>

    {% for camioneta in object_list %}
        
        <p>Marca: {{camioneta.marca}}</p>

        <img src="{{camioneta.foto.url}}" alt="">
        <a  href="{% url 'camionetas-detalle' camioneta.pk %}" type="submit" class="btn btn-info">Detalles</a>
    
        <!-- <form method="post">
            {% csrf_token %}
            {{formulario.as_p}}          
        </form> -->
    {% empty %}
        <h3>No hay Anuncios de ventas registrados, Ve a <a href="{% url 'camionetas' %}">Crear Anuncio</a>  y haz el uno</h3>
    {% endfor %}

{% endif %}



{% endblock %}