{% extends 'AppInicio/base.html' %}

{% block titulo %} Acerca de {% endblock %}

{% block contenido %}
{% load static %}
<header>
    <h1>DESARROLLADORES</h1>
</header>
<section>
    <article>
        <h2>Rogers Mezones</h2>
        <p>Tecnico en Informatica</p>
        <img src="{% static 'AppInicio/assets/img/rogs.jpg' %}" width="150" >
        <p>Me desempeño en el grupo Someco para sus empresas Someco Electronics y Music Co, como soporte tecnico a usuarios, gestion de proveedores de impresion, telefonia, internet,  etc</p>
        <p>Implementacion funcional de ERP Odoo para el area de Logistica y Servicio Tecnico</p>
        <hr>
    </article>
    <article>
        <h2>Gerardo Campero</h2>
        <p>Técnico en Informática</p>
        <img src="{% static 'AppInicio/assets/img/Imagen de WhatsApp 2022-12-18 a las 20.53.42.jpg' %}" width="150" > 
        <p>Analista de incidencias y supervisor de despliegues en GBCA </p>
        <hr>
    </article>
    <article>
        <h2>Federico Alvarez</h2>
        <p>info_1</p>
        <img src="{% static 'AppInicio/assets/img/' %}"  width="150" >
        <p>info_2</p>
        <hr>
    </article>
</section>


{% endblock %}